@{
	Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Machine Details:</h2>
<hr/>
<h3>@Html.DisplayNameFor(model => model.MachineName): @Html.DisplayFor(model => model.MachineName)</h3>
<h3>@Html.DisplayNameFor(model => model.MachineDetails): @Html.DisplayFor(model => model.MachineDetails)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>There are currently no Engineers assigned to this machine</p>
}
else
{
  <h4>This Machine is Registered Under These Mechanics:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@Html.ActionLink($"{@join.Engineers.EngineerName}", "Details", "Engineers", new { id = join.Engineers.EngineerId })</li> 
    @Html.ActionLink("Remove", "Remove",  new { id = join.EngineerMachineId })
  }
  </ul>
}

<p>@Html.ActionLink("Add an Engineer", "AddEngineer", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Edit a Machine", "Edit", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Delete a Machine", "Delete", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Return to Machine Home", "Index")</p>