@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h1>ADD A MACHINE TO AN ENGINEER</h1>

<h4>Add a machine to Engineer @Html.DisplayFor(model => model.EngineerName)</h4>

@using (@Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.Label("Select a machine")
  @Html.DropDownList("MachineId")

  <input type="submit" value="Save"/>
}

<p>@Html.ActionLink("Return to list", "Index")</p>