@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h1>EDIT</h1>

<h3>You are editing the information for this Engineer: @Html.DisplayFor(model => model.EngineerName)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.LabelFor(model => model.EngineerName)
  @Html.EditorFor(model => model.EngineerName)

  @Html.LabelFor(model => model.EngineerLiscense)
  @Html.EditorFor(model => model.EngineerLiscense)

  <input type="submit" value="Save"/>
}

<p>@Html.ActionLink("Return to Engineer Home", "Index")</p>